
.board-row {
    border-style: solid;
    border-width: 0px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    height: 13vh;
}

.board-col {
    border-style: solid;
    border-width: 0px;
    border-left-width: 2px;
    border-right-width: 2px;
    width: 13vh;
}

.game-square {
    cursor: pointer;
}

.input-field {
    margin-bottom: 2vh;
    width: 100px;
}

.hidden-obj {
    visibility: hidden;
}

.win-count {
    margin-top: 1vh;
    margin-bottom: 1vh;
}