body {
    background: linear-gradient(to bottom, azure, slategrey);
}

h1 {
    padding-top: 1vh;
    padding-bottom: 2vh;
    font-size: 5vh;
}

.my-buttons {
    margin-top: 1vh;
    margin-bottom: 1vh;
    min-width: 12vh;
}

.board-row {
    height: 13vh;
}

.row-mid {
    border-style: solid;
    border-width: 0px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    height: 13vh;
}

.board-col {
    width: 13vh;
}

.board-wrapper {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.col-mid {
    border-style: solid;
    border-width: 0px;
    border-left-width: 2px;
    border-right-width: 2px;
}

.game-square {
    cursor: pointer;
    font-size: 8vh;
}

.input-field {
    margin-bottom: 2vh;
    width: 100px;
}

.rules-box {
    border-style: solid;
    border-width: 2px;
    padding: 2vh;
    margin-bottom: 2vh;
    background-color: whitesmoke;
}

.hidden-obj {
    visibility: hidden;
}

.win-count {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.c4-col {
    /* border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-left-width: 1px; */
    width: 7vh;
}

.c4-row {
    /* border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px; */
    height: 7vh;
}

.c4-game-square {
    border-style: solid;
    border-width: 3px;
    border-radius: 7vh;
    background-color: whitesmoke;
    border-color: #212529;
}

.c4-game-board {
    border-style: solid;
    border-width: 5px;
    padding: 1.5vh;
    background-color: #212529;
}

.c4-red {
    background-color: red;
}

.c4-blue {
    background-color: blue;
}